<h2><%= @cocktail.name %></h2>

<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item"><%= dose.description %> <%= dose.ingredient.name %></li>
  <% end %>
</ul>


<%= link_to 'Back to cocktail list', cocktails_path(@cocktails), class: "btn btn-primary" %>

<%= link_to 'Edit doses', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

<%= link_to "Delete #{@cocktail.name}",
            cocktail_path(@cocktail), class: "btn btn-danger",
            method: :delete,
            data: { confirm: "Are you sure?" } %>
